<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.rap.openlayers.demo.DemoEntryPoint2"
            id="org.polymap.rap.openlayers.entrypoint3"
            path="/ol">
      </entrypoint>
   </extension>
   
</plugin>
